.selectedPhoto {
  position: absolute;
  left: 0;
  height: 200px;
  width: 50%;
}

.calendar {
  position: absolute;
  right: 0;
  height: 200px;
  width: 50%;
}

.nasaImage {
  position: absolute;
  height: 40px;
  width: 14%;
}

.monthAndYear {
  text-align: center;
}